.section-one {
    position: relative;
    padding: ((40px / $container) * 100vw) ((100px / $container) * 100vw) ((180px / $container) * 100vw);

    background: url('../../img/jpeg/background/background.jpeg') no-repeat;
    background-size: cover;

    overflow: hidden;
}

.container {
    max-width: $container;
    margin: 0 auto;

    padding-left: ((75px / $container) * 100vw);
    padding-right: ((75px / $container) * 100vw);

    @media (max-width: 767px) {
        padding-left: 0;
        padding-right: 0;
    }
}

.header {
    &__grid-container {
        display: grid;
        grid-template-columns: repeat(4, auto);

        align-items: center;
        justify-items: center;

        grid-gap: ((20px / $container) * 100vw);

        .logo {
            display: grid;
            grid-template-columns: ((183px / $container) * 100vw) auto;

            align-items: center;
            justify-self: start;

            cursor: pointer;

            &__image {
                width: ((183px / $container) * 100vw);
                height: ((74px / $container) * 100vw);
            }

            &__text {
                max-width: ((320px / $container) * 100vw);
                padding-left: ((34px / $container) * 100vw);

                font-size: ((18px / $container) * 100vw);

                @media (max-width: 1439px) {
                    font-size: ((22px / $container) * 100vw);
                }

                @media (max-width: 767px) {
                    font-size: 22px;
                }

                span {
                    font-weight: 700;
                }
            }
        }

        .map {
            display: grid;
            grid-template-columns: ((77px / $container) * 100vw) auto;
            align-items: center;

            @media (max-width: 1439px) {
                grid-template-columns: ((85px / $container) * 100vw) auto;
            }

            @media (max-width: 1199px) {
                grid-template-columns: ((95px / $container) * 100vw) auto;
            }

            img {
                width: ((77px / $container) * 100vw);
                height: ((77px / $container) * 100vw);

                cursor: pointer;

                @media (max-width: 1439px) {
                    width: ((85px / $container) * 100vw);
                    height: ((85px / $container) * 100vw);
                }

                @media (max-width: 1199px) {
                    width: ((95px / $container) * 100vw);
                    height: ((95px / $container) * 100vw);
                }
            }

            .adress {
                margin-left: ((18px / $container) * 100vw);
                cursor: pointer;
                font-size: ((16px / $container) * 100vw);

                @media (max-width: 1439px) {
                    font-size: ((20px / $container) * 100vw);
                }

                .city {
                    font-weight: 700;
                }
            }
        }

        .engineer-consultation--button {
            font-weight: 700;
            font-size: ((16px / $container) * 100vw);
            color: #fff;

            padding: ((28px / $container) * 100vw) ((30px / $container) * 100vw);
            background-color: #313d4b;

            width: ((260px / $container) * 100vw);
            border-radius: ((8px / $container) * 100vw);

            cursor: pointer;

            @media (max-width: 1439px) {
                font-size: ((20px / $container) * 100vw);

                width: ((320px / $container) * 100vw);
            }

            &:hover,
            &:focus,
            &:active {
                background-color: #446081;
            }
        }

        .phone-and-social {
            justify-self: end;

            .phone {
                font-size: ((22px / $container) * 100vw);
                font-weight: 700;
                text-align: center;

                display: block;
                cursor: pointer;

                @media (max-width: 1439px) {
                    font-size: ((26px / $container) * 100vw);
                }

                &:hover,
                &:focus,
                &:active {
                    animation-name: 'rotate-phone';
                    animation-duration: .8s;
                }

                .phone-icon {
                    width: ((20px / $container) * 100vw);
                    height: ((20px / $container) * 100vw);
                    margin-right: ((6px / $container) * 100vw);
                }
            }

            .social {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                justify-items: center;

                margin-top: ((10px / $container) * 100vw);

                .viber-icon,
                .telegram-icon,
                .whatsapp-icon {
                    width: ((50px / $container) * 100vw);
                    height: ((50px / $container) * 100vw);

                    @media (max-width: 1439px) {
                        width: ((60px / $container) * 100vw);
                        height: ((60px / $container) * 100vw);
                    }
                }
            }
        }
    }

    &__flex-container {
        margin-top: ((60px / $container) * 100vw);

        .menu {
            display: flex;
            justify-content: space-between;

            font-size: ((16px / $container) * 100vw);
            font-weight: 700;
            text-transform: uppercase;

            @media (max-width: 1439px) {
                font-size: ((20px / $container) * 100vw);
            }

            &__item {
                font-size: ((18px / $container) * 100vw);
                cursor: pointer;

                @media (max-width: 1439px) {
                    font-size: ((22px / $container) * 100vw);
                }

                &:hover,
                &:focus,
                &:active {
                    color: #fe6151;
                }
            }
        }
    }
}

.main-content {
    margin-top: ((100px / $container) * 100vw);

    &.grid-container {
        display: grid;
        grid-template-columns: 60.41% 39.59%;

        .grid-container__item-1 {
            h1 {
                font-weight: 300;
                font-size: ((60px / $container) * 100vw);

                @media (max-width: 1439px) {
                    font-size: ((64px / $container) * 100vw);
                }

                span {
                    font-weight: 700;
                }
            }

            .advantages {
                display: grid;
                grid-template-columns: repeat(3, auto);
                grid-gap: ((40px / $container) * 100vw) ((20px / $container) * 100vw);
                justify-items: center;

                margin-top: ((64px / $container) * 100vw);

                &-one,
                &-two,
                &-three {
                    position: relative;

                    .red-line {
                        position: absolute;
                        width: ((22px / $container) * 100vw);
                        height: ((22px / $container) * 100vw);

                        top: 0;
                        left: 0;

                        @media (max-width: 1023px) {
                            width: ((26px / $container) * 100vw);
                            height: ((26px / $container) * 100vw);
                        }
                    }
                }

                &__grid-container {
                    display: grid;
                    grid-template-columns: auto auto;
                    grid-gap: ((10px / $container) * 100vw);

                    .fifteen-text {
                        font-size: ((72px / $container) * 100vw);
                        font-weight: 800;
                        line-height: 1;

                        @media (max-width: 1439px) {
                            font-size: ((76px / $container) * 100vw);
                        }
                    }
                }

                >div {
                    padding-top: ((10px / $container) * 100vw);
                    padding-left: ((28px / $container) * 100vw);

                    position: relative;

                    p {
                        font-size: ((20px / $container) * 100vw);
                        font-weight: 300;

                        @media (max-width: 1439px) {
                            font-size: ((24px / $container) * 100vw);
                        }

                        span {
                            font-weight: 700;
                        }
                    }
                }
            }

            .calculate-and-certificate {
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin-top: ((90px / $container) * 100vw);

                grid-gap: ((40px / $container) * 100vw);

                .certificate-block {
                    font-size: ((18px / $container) * 100vw);
                    font-weight: 700;

                    align-self: end;

                    @media (max-width: 1439px) {
                        font-size: ((22px / $container) * 100vw);
                    }

                    p {
                        margin-bottom: ((18px / $container) * 100vw);
                        text-align: center;
                    }

                    .slider-block {
                        display: grid;
                        grid-template-columns: auto auto auto;

                        justify-items: center;
                        align-items: center;

                        grid-gap: ((15px / $container) * 100vw);
                        cursor: pointer;

                        .prev-arrow {
                            height: ((26px / $container) * 100vw);
                            justify-self: end;

                            @media (max-width: 1199px) {
                                height: ((30px / $container) * 100vw);
                            }

                            &:hover,
                            &:focus,
                            &:active {
                                transform: translateX(((-5px / $container) * 100vw));
                            }
                        }

                        .next-arrow {
                            height: ((26px / $container) * 100vw);
                            justify-self: start;

                            @media (max-width: 1199px) {
                                height: ((30px / $container) * 100vw);
                            }

                            &:hover,
                            &:focus,
                            &:active {
                                transform: translateX(((5px / $container) * 100vw));
                            }
                        }

                        .slide {
                            margin-right: ((10px / $container) * 100vw);
                            height: ((112px / $container) * 100vw);

                            &:last-child {
                                margin-right: 0;
                            }

                            &:hover,
                            &:focus,
                            &:active {
                                transform: translateY(((-8px / $container) * 100vw));
                            }
                        }
                    }
                }
            }

            .calculate-cost-text {
                max-width: ((430px / $container) * 100vw);

                font-size: ((18px / $container) * 100vw);
                font-weight: 400;
                line-height: 1.7;

                @media (max-width: 1439px) {
                    font-size: ((22px / $container) * 100vw);
                }

                .discount-text {
                    font-weight: 700;
                    padding: ((4px / $container) * 100vw) ((8px / $container) * 100vw);
                    background-color: #fff;
                    border-radius: ((6px / $container) * 100vw);
                    white-space: nowrap;
                }
            }

            .calculate-cost--button {
                width: ((452px / $container) * 100vw);
                padding: ((30px / $container) * 100vw) ((50px / $container) * 100vw) ((24px / $container) * 100vw);
                background-image: linear-gradient(#fe7954, #fe5c55);
                border-radius: ((10px / $container) * 100vw);
                margin-top: ((30px / $container) * 100vw);

                border-bottom: ((6px / $container) * 100vw) solid #e83e3d;
                cursor: pointer;

                display: grid;
                grid-template-columns: (((38px / $container) * 100vw) + ((10px / $container) * 100vw)) auto;
                align-items: center;

                transition: .2s ease;

                @media(max-width: 1439px) {
                    grid-template-columns: (((45px / $container) * 100vw) + ((10px / $container) * 100vw)) auto;
                    border-bottom: ((8px / $container) * 100vw) solid #e83e3d;
                }

                &:hover,
                &:focus,
                &:active {
                    box-shadow: 0 0 10px 4px rgba(214, 104, 75, .8);
                }

                .calculator-icon {
                    width: ((38px / $container) * 100vw);
                    height: ((38px / $container) * 100vw);

                    @media(max-width: 1439px) {
                        width: ((45px / $container) * 100vw);
                        height: ((45px / $container) * 100vw);
                    }
                }

                &__text {
                    text-align: left;
                    text-transform: uppercase;
                    font-size: ((18px / $container) * 100vw);
                    font-weight: 700;
                    color: #fff;

                    @media (max-width: 1439px) {
                        font-size: ((22px / $container) * 100vw);
                    }
                }
            }
        }

        .grid-container__item-2 {
            .employee-img {
                position: absolute;
                bottom: ((-124px / $container) * 100vw);
                right: ((106px / $container) * 100vw);

                height: 816px;

                @media (max-width: 1439px) {
                    height: ((1016px / $container) * 100vw);
                }
            }
        }
    }
}

@keyframes rotate-phone {
    25% {
        transform: rotate(-3deg);
    }

    50% {
        transform: rotate(3deg);
    }

    75% {
        transform: rotate(-3deg);
    }

    100% {
        transform: rotate(0);
    }
}