.section-one {
    position: relative;
    padding: ((40px / $container) * 100vw) ((100px / $container) * 100vw) ((180px / $container) * 100vw);

    background: url('../../img/jpeg/background/background.jpeg') no-repeat;
    background-size: cover;

    overflow: hidden;
}

.container {
    max-width: $container;
    margin: 0 auto;

    padding-left: ((75px / $container) * 100vw);
    padding-right: ((75px / $container) * 100vw);
}

.header {
    &__grid-container {
        display: grid;
        grid-template-columns: repeat(4, auto);
        align-items: center;
        justify-items: center;

        .logo {
            display: grid;
            grid-template-columns: ((183px / $container) * 100vw) auto;
            align-items: center;

            justify-self: start;

            img {
                width: ((183px / $container) * 100vw);
                height: ((74px / $container) * 100vw);

                cursor: pointer;
            }

            p {
                max-width: ((294px / $container) * 100vw);
                padding-left: ((34px / $container) * 100vw);

                span {
                    font-weight: 700;
                }
            }
        }

        .map {
            display: grid;
            grid-template-columns: 77px auto;
            align-items: center;

            img {
                width: 77px;
                height: 77px;

                cursor: pointer;
            }

            .adress {
                margin-left: ((18px / $container) * 100vw);

                .city {
                    font-weight: 700;
                }
            }
        }

        .engineer-consultation--button {
            font-weight: 700;
            font-size: 16px;
            color: #fff;

            padding: ((28px / $container) * 100vw) ((30px / $container) * 100vw);
            background-color: #313d4b;

            width: ((260px / $container) * 100vw);
            border-radius: 8px;

            cursor: pointer;
        }

        .phone-and-social {
            justify-self: end;

            .phone {
                font-size: 22px;
                font-weight: 700;
                text-align: center;

                cursor: pointer;

                &::before {
                    content: url('../../img/png/icon/phone-icon.png');
                    width: ((16px / $container) * 100vw);
                    height: ((16px / $container) * 100vw);
                    margin-right: ((10px / $container) * 100vw);
                }
            }

            .social {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                justify-items: center;

                margin-top: ((10px / $container) * 100vw);

                &>img {
                    width: ((50px / $container) * 100vw);
                    height: ((50px / $container) * 100vw);
                }
            }
        }
    }

    &__flex-container {
        margin-top: ((60px / $container) * 100vw);

        .menu {
            display: flex;
            justify-content: space-between;

            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;

            &__item {
                cursor: pointer;
            }
        }
    }
}

.main-content {
    margin-top: ((100px / $container) * 100vw);

    &.grid-container {
        display: grid;
        grid-template-columns: 60.41% 39.59%;

        .grid-container__item-1 {
            h1 {
                font-weight: 300;
                font-size: 60px;

                span {
                    font-weight: 700;
                }
            }

            .advantages {
                display: grid;
                grid-template-columns: ((320px / $container) * 100vw) ((220px / $container) * 100vw) ((220px / $container) * 100vw);
                grid-gap: ((40px / $container) * 100vw) ((20px / $container) * 100vw);
                justify-items: center;

                margin-top: ((64px / $container) * 100vw);

                &__grid-container {
                    display: grid;
                    grid-template-columns: auto auto;
                    grid-gap: ((10px / $container) * 100vw);

                    .fifteen-text {
                        font-size: 72px;
                        font-weight: 800;
                        line-height: 1;
                    }
                }

                >div {
                    padding-top: ((14px / $container) * 100vw);
                    padding-left: ((24px / $container) * 100vw);

                    position: relative;

                    &::before {
                        content: url(../../img/png/icon/red-line.png);
                        position: absolute;
                        top: 0;
                        left: 0;

                        width: 22px;
                        height: 22px;
                    }

                    p {
                        font-size: 20px;
                        font-weight: 300;

                        span {
                            font-weight: 700;
                        }
                    }
                }
            }

            .calculate-and-certificate {
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin-top: ((90px / $container) * 100vw);

                grid-gap: ((40px / $container) * 100vw);

                .certificate-block {
                    font-size: 18px;
                    font-weight: 700;

                    align-self: end;

                    p {
                        margin-bottom: ((18px / $container) * 100vw);
                        text-align: center;
                    }

                    .slider-block {
                        display: grid;
                        grid-template-columns: auto auto auto;

                        justify-items: center;
                        align-items: center;

                        grid-gap: ((15px / $container) * 100vw);
                        cursor: pointer;

                        .prev-arrow {
                            justify-self: end;
                        }

                        .next-arrow {
                            justify-self: start;
                        }

                        .slide {
                            margin-right: ((10px / $container) * 100vw);
                            height: ((112px / $container) * 100vw);

                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                }
            }

            .calculate-cost-text {
                max-width: ((430px / $container) * 100vw);

                font-size: 18px;
                font-weight: 400;
                line-height: 1.7;

                .discount-text {
                    font-weight: 700;
                    padding: ((4px / $container) * 100vw) ((8px / $container) * 100vw);
                    background-color: #fff;
                    border-radius: 6px;
                    white-space: nowrap;
                }
            }

            .calculate-cost--button {
                width: ((452px / $container) * 100vw);
                padding: ((30px / $container) * 100vw) ((56px / $container) * 100vw) ((24px / $container) * 100vw) ((100px / $container) * 100vw);
                background-image: linear-gradient(#fe7954, #fe5c55);
                border-radius: 10px;
                margin-top: ((30px / $container) * 100vw);

                border-bottom: 6px solid #e83e3d;
                cursor: pointer;

                &__text {
                    text-align: left;
                    text-transform: uppercase;
                    font-size: 18px;
                    font-weight: 700;
                    color: #fff;

                    position: relative;

                    &::before {
                        content: url('../../img/png/icon/calculator-icon.png');
                        width: 38px;
                        height: 38px;

                        position: absolute;
                        left: -48px;;

                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }

        .grid-container__item-2 {
            .employee-img {
                position: absolute;
                bottom: ((-124px / $container) * 100vw);
                right: ((106px / $container) * 100vw);

                height: 816px;
            }
        }
    }
}